mixin li (title, link)
  li.nav__item
    a.nav__link(href=link) #{title}

mixin navButton (src, alt)
  .profile__button
    img(src=src, alt=alt).button__icon

mixin sideBarMenuItems (src, title, link)
  .menu__item
    img(src=src, alt=title).menu__icon
    a.menu__link(href=link) #{title}

mixin walletSummaryItems (title, value, icon)
  .wallet-s__item 
    img(src=icon, alt=title).wallet-s__icon
    h3.wallet-s__title #{title}
    span.wallet-s__value $#{value}

mixin myWalletsItems (title, value)
  .my-wallets__item 
    h3.my-wallets__title #{title}
    span.my-wallets__value #{value} 
      span.my-wallets__percent %
